<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="Login"  parallel="tests">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test name="SignUp"  parallel="tests" >
        <classes>
            <class name="RegistrationTest"/>
        </classes>
    </test>
    <test name="Search"  parallel="tests" >
        <classes>
            <class name="SearchTest"/>
        </classes>
    </test>

</suite>